@charset 'utf8';

ins {
    text-decoration: underline;
    text-decoration-color: rgba(1, 165, 1, 0.5);
}

del {
    text-decoration: line-through;
    text-decoration-color: rgba(219, 1, 1, 0.5);
}
